*{
  margin: 0;
  padding: 0;
}
.primaria{
  
  background-color: turquoise;
  color: darkblue;
  width: 155px;
  text-align: center;
  position: absolute;
  z-index: 1;
}
.secundaria{
  
  background-color: yellowgreen;
  color: brown;
  width: 177px;
  text-align: center;
  position: absolute;
  z-index: 2;
  left: 988px;
}
.complementar{
  float:left;
  background-color: violet;
  color: darkmagenta;
  width: 350px;
  text-align: center;
  position: relative;
  left: 388px;
}
.escura{
  
  background-color: teal;
  color: white;
  width: 188px;
  text-align: center;
  position: absolute;
  z-index: 3;
  left: 768px;
}
.clara{
  display: inline-block;
  background-color: yellow;
  width: 150px;
  text-align: center;
  position: absolute;
  z-index: 4;
  left: 222px;
}
Se você tirar os z-index, position e left você perceberá que
eles ficarão em linha sem nenhum espaço entre cada cor!